# Ignoring caching or local work dirs
# Common to most of my projects
.cache
.devcontainer
.gemini
.vscode

# Generic tmp files, usually ignored
tmp.*

# Mostly around lvgl font conversion utilities
node_modules

# ESP32 work directories
build
components
managed_components

# Project istribution directory
dist
